* {
  margin: 0; padding: 0;
}

.container {
  position: relative;
  height: 600px;
  width: 650px;
  border: 5px solid red;
}

div {
  height: 200px;
  width: 200px;
  margin: auto;
}

.satu {
  background-color: aqua;
}

.dua {
  background-color: lightcoral;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0; right: 0;
}

.tiga {
  left: 400px;
  background-color: black;
}