@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #eee;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--orange);
}

.header .nav a {
  color: var(--black);
  margin: 0 1rem;
  font-size: 1.7rem;
}

.header .nav a:hover {
  color: var(--orange);
}

.header .icons div {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  background: #eee;
  color: var(--black);
  border-radius: .5rem;
  font-size: 1.5rem;
  margin-right: .3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover {
  background: var(--orange);
  color: #eee;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 110%;  right: 2rem;
  width: 50rem;
  height: 4.5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form input {
  
}
